.Navbar{
    display: inline-block;
    color:blue;
    text-decoration: none;
    background-color: cadetblue;
   width: 100%;

        
}
ul{
    display: inline-flex;
    gap: 30px;
    text-decoration: none;
    
}